.ui-button {
	font-family: "Trebuchet MS", Verdana, "Times New Roman", Times, Arial,
		Helvetica, sans-serif;
	font-size: 11px;
	padding: 0.2em;
}

input.ui-button {
	padding: 0.2em;
}

.ui-datepicker {
	font-size: 10px !important;
}

.ui-datepicker-trigger {
	margin-bottom: -3px;
}

.ui-icon-info {
	float: left;
	margin: 0;
	padding: 0;
}

.ui-icon-alert {
	float: left;
	margin: 0;
	padding: 0;
}

.ui-icon-plusthick {
	float: left;
	margin: 0;
	padding: 0;
}

.buttonRadioLabel {
	font-size: 10px;
}

.cliquable{
	font-weight: bold;
}

.cliquable:hover {
	cursor: pointer;
	background: #c4c4c4;
}

.datatable {
	width: 99%;
	margin-top:10px;
}

.datatable table {
	width: 100% !important;
}

.datatable tr {
	text-align: center;
	padding: 3px;
}

.dataTables_length {
	display: block;
	float: left;
	padding: 2px;
}

.dataTables_processing {
	display: block;
	float: right;
	padding: 2px;
}

.dataTables_info {
	display: block;
	float: left;
	padding: 2px;
}

.dataTables_paginate {
	display: block;
	float: right;
	padding: 2px;
}

.DataTables_sort_wrapper:hover {
	cursor: pointer;
}

.DataTables_sort_icon {
	display: block;
	float:right;
}

.odd {
	background: #e0e0db;
}

.even {
	background: #eeeeeb;
}

#titleBar {
	font-size: 24px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	padding-top: 40px;
	height: 40px;
	border-bottom: 1px solid #bbbbbb;
}

#actionBar {
	display: block;
	float: left;
	width: 100%;
	margin: 0;
	margin-bottom:10px;
	padding: 0;
	font-size: 0.9em;
	font-weight: bold;
	border: none;
}

.actionBarElement {
	width: 90%;
	float: left;
}

#actionBar a {
	float: left;
	margin-right: 5px;
	padding-top: 2px;
	color: #000;
	text-decoration: none;
	outline: none !important;
	line-height: 1.6em;
}

#actionBar a:hover {
	cursor: pointer;
	text-decoration: underline;
}

#actionBar a label:hover {
	cursor: pointer;
	text-decoration: underline;
}

#actionBar span {
	display: block;
	float: left;
}

#actionBar .add {
	background-image: url("../images/actionBarIcon/ui-icons_green.png");
}

#actionBar .save {
	background-image: url("../images/actionBarIcon/ui-icons_green.png");
}

#actionBar .modif{
	background-image: url("../images/actionBarIcon/ui-icons_orange.png");
}

#actionBar .sup {
	background-image: url("../images/actionBarIcon/ui-icons_red.png");
}

#buttonRechercher {
	margin-left: 10px;
}

#buttonSupprimer {
	margin: 5px;
}

#zoneAuthentification {
	width: 50%;
	margin: auto;
	margin-top: 200px;
	text-align: center;
}

#titreZoneAuthentification {
	width: 100%;
	padding: 5px;
	border: none;
}

#zoneConnexion {
	width: 100%;
	padding: 4px;
	border-top: none;
}

#zoneConnexion table {
	margin: auto;
	border: none;
}

#zoneConnexion tr {
	width: 80%;
}

#zoneConnexion td {
	width: 50%;
	padding: 5px;
}

#zoneConnexion input[type=text] , #zoneConnexion input[type=password] {
	width: 90%;
}

#connexionLabel {
	text-align: center;
	padding: 10px;
	margin: 0;
}

#identifiantsButton {
	text-align: center;
	margin: 10px;
}

#identifiantsButton input {
	margin: 10px;
	font-size: 14px;
}

#headerContent {
	display:block;
	float:left;
	font-family: Verdana;
	width: 100%;
	margin: 0;
	padding: 3px;
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	background: #2C4056;
}

#headerContent a {
	margin-right: 5px;
	color: #FFF;
	text-decoration: none;
	outline: none !important;
}

#headerContent a:hover {
	text-decoration: underline;
}

#userTools {
	float: right;
	margin-right: 10px;
}

#userTools span {
	margin-right: 20px;
}

#userTools label {
	font-weight: normal;
}

#logo {
	height: 80px;
}

#logo img {
	padding-top:20px;
	display:block;
	margin: auto;
}

#menuContent {
	width: 65%;
	margin: auto;
	font-family: Verdana;
	font-size: 12px;
}

#menuItem,#divsubMenuItem {
	background: #a6a6a6;
	border-radius: 5px;
	color: #FFF;
	list-style: none;
	margin: 10px 0 10px 0;
	padding: 0;
}


#menuItem li,#divsubMenuItem li {
	margin: 0;
	padding: 0 10px 0 10px;
}

#menuItem li a,#divsubMenuItem li a {
	display: block;
	color: #FFF;
	font-weight: bold;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	padding-top: 8px;
	padding-bottom: 8px;
}

#menuItem li:hover,#divsubMenuItem li:hover {
	background: #707070;
	text-decoration: none;
	border-radius: 5px;
}

.active{
	background: #707070;
	text-decoration: none;
	border-radius: 5px;
}

#dossierInfo {
	background: #a6a6a6;
	border-radius: 5px;
	color: #000;
	list-style: none;
	margin: 10px 0 10px 0;
	padding: 5px 10px 5px 10px;
}

#dossierInfo p {
	text-align:center;
	font-weight:bold;
	margin: 0;
	padding: 0;
}

.ombrage{
	text-shadow: 0px 0px 4px #000;	
}

.visibilityHidden {
	visibility: hidden;
}

.alignCenter {
	text-align: center;
}

.floatRight {
	float: right;
}

#chooseDate {
	display: block;
	float: left;
	margin: 10px 30px 0 0;
}

#idZoneDate {
	display: block;
	float: left;
	margin-top: 5px;
	padding: 5px;
	border: none;
}

#idZoneDate input[type=text] {
	margin-right: 5px;
}

#buttonApercu {
	margin-left: 5px;
}

#tableAlertes,#tableAlertes1 {
	display:block;
	float:left;
	width: 40%;
	margin-top: 20px;
	margin-left: 60px;
}

#tableAlertes tbody,#tableAlertes thead,#tableAlertes1 tbody,#tableAlertes1 thead
	{
	width: 100%;
}

#tableAlertes th,#tableAlertes1 th {
	border: none;
	margin: 0;
	padding: 2px;
	color: white;
}

#tableAlertes tr,#tableAlertes1 tr {
	width: 100%;
	border: none;
}

#tableAlertes td,#tableAlertes1 td {
	border: none;
	margin: 0;
	padding: 3px;
}


#divRechercheDossier {
	display:block;
	float:left;
	width: 99%;
	margin-top: 20px;
	margin-bottom: 10px;
}

#divRechercheDossier h2 {
	margin-bottom: 10px;
}

#divRechercheDossier th , #divRechercheDossier td {
	padding:3px;
	width:16.6%;
}


#CritereDossiers {
	width: 100%;
	padding: 5px;
	margin: 0;
	border: none;
}

#CritereDossiers th {
	width: 20%;
	margin: 0;
	padding: 0;
	/* 	background: #2C4056; */
	color: white;
}

#CritereDossiers td {
	text-align: center;
}

#paramJours {
	float: left;
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
}

#CritereDossiers td input[type=text] {
	width: 95%;
}

#listeDossiers tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableUtilisateur tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableEmployeur tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableAssureur tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableParametrage tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

 #tdDateArret input {
 	width:80%;
	text-align:center;
}

#tableEnvoyerCM tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableEnvoyerRelanceCM1 tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableEnvoyerRelanceCM2 tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableEnvoyerRelanceCmIncomplet tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableEnvoyerCmDeSuivi tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableEnvoyerDemandeCi tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableEnvoyerRelance1DemandeCi tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableEnvoyerRelance2DemandeCi tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableAnalyseCmSuivi tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableDefinitionCI tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableAnalyseContextuelle tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableContreVisite tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableSuspensionIJ tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}
#tableClotureDossier tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}

#tableHistorique{
	display: block;
	width: 98.5%;
	margin-top: 20px;
}

#tableHistorique tbody,#tableHistorique thead{
	display: block;
	float: left;
	width: 100%;
}

#tableHistorique th, #tableHistorique td{
	display: block;
	float: left;
	border: none;
	margin: 0;
	padding: 0;
	width:25%;
}

#tableHistorique th{
	color: white;
}

#tableHistorique tr{
	display: block;
	float: left;
	width: 100%;
	padding: 3px;
	border: none;
}


.tableForm {
	width: 100%;
	margin-top:5px;
	margin-bottom:5px;
}

.tableForm tbody, .tableForm thead	{
	width: 100%;
}

.divForm{
	width:99%;
}

.tableForm tbody tr{
	background: #e0e0db;
}

.tableForm th, .tableForm td{
	text-align: center;
	border: none;
	margin: 0;
	padding: 3px;
}


.tableForm tr{
	display: block;
	float: left;
	width: 100%;
	padding: 3px;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
}

.tableForm th {	
	color: black;
	background-color: rgb(226,237,251);
}

.tableForm input[type=text] , .tableForm input[type=password] {
	width: 90%;
}

#creeUtilisateur th , #creeUtilisateur td , #modifierUtilisateur th , #modifierUtilisateur td , #suiviSinistre1 th , #suiviSinistre1 td , #idDivDemandePhotocopie th , #idDivDemandePhotocopie td , #table1CreationSalarieEmployeur1 th , #table1CreationSalarieEmployeur1 td{
	width:16.6%;
}

#modifierUtilisateurReinit{
	width:100% !important;
}

#monCompte th , #monCompte td , #sinistre1 th , #sinistre1 td , #table3CreationSalarieEmployeur1 th , #table3CreationSalarieEmployeur1 td{
	width:14.2%;
}

#creeEmployeur th , #creeEmployeur td, #creeAssureur th , #creeAssureur td , #dataEmployeurSelect2 th , #dataEmployeurSelect2 td , #idTableHosp th , #idTableHosp td, #idTableConfi1 th , #idTableConfi1 td{
	width:20%;
}

#idTableConfi3{
	width:98.5%; 
}

#idTableConfi3 th , #idTableConfi3 td{
	width:50%; 
}

#logoAssureur , #sinistre2 , #medecinCM{
	width:60%;	
}

#logoAssureur th , #logoAssureur td , #suiviSinistre2 th , #suiviSinistre2 td, #sinistre2 th , #sinistre2 td , #medecinCM th , #medecinCM td , #creationCMSuiv1 th , #creationCMSuiv1 td{
	width:50%;
}

#creeParametrage th , #creeParametrage td{
	width:12.5%;	
}

#idTableConfi2 th , #idTableConfi2 td{
	width:33.3%;
}

#creationSalarieEmployeur2 table , #dateSaisieCM table , #scoreEnt table{
	width:20%;	
}

#idDivDemandeComplementInformation table{
	width:30%;
}

#complementInformation h3{
	padding-top:5px;
	padding-bottom:5px;
}

#creationSalarieEmployeur2 th , #creationSalarieEmployeur2 td , #dateSaisieCM th , #dateSaisieCM td , #analyseContreVisite1 th , #analyseContreVisite1 td , #idDivDemandeComplementInformation th , #idDivDemandeComplementInformation td , #scoreEnt th , #scoreEnt td{
	width:100%;
}

#analyseContreVisite1 table{
	width:50%;	
}

#dataEmployeurSelect1 th , #dataEmployeurSelect1 td , #divHistorique th , #divHistorique td{
	width:25%;	
}

#tdDateProchaineEtape input , #idDateTheoriqueReprise{
	width:20%;
	text-align:center;
}

#divHistorique tr.odd{
	background: #e0e0db;
}

#divHistorique tr.even {
	background: #eeeeeb;
}

#commentaire {
    margin-top:5px;
	margin-bottom:5px;
}

#commentaire textarea {
    width:98.5%;
}

#sinistre1 input , #dateSaisieCM input{
	text-align:center;
}

#idDivTableConfi{
	display:none;
	width:40%;
	margin:auto;
	margin-bottom:10px;
	text-align:center;
}

#idDivTableConfi p{
	padding:2px;
	font-weight:bold;
}

#medecinCM input , #medecinCM select{
	width:60%;
}

#resultatAnalyse textarea {
    width:90%;
}

#resultatAnalyseText , #resultatAnalyseRetourCI , #resultatAnalyseCmSuivi{
	width:80%;
}

#resultatAnalyseDate , #thTitreDateTherique , #tdTitreDateTherique{
	width:20%;
}

#analyseRetourCI input[type="text"]{
	width:20%;
	text-align:center;
}

#resultatAnalyse input[type="text"]{
	text-align:center;
}

#creationCMSuiv1{
	width:40%;	
}

#tdDateReprise input , #idDateNaissanceSalarie  {
 	width:80%;
	text-align:center;
}

#tdDateDebutProlongation input , #tdDateTheoriqueFinProlongation input  {
 	width:20%;
	text-align:center;
}

.sinistre1Input{
	width:12.2% !important;
}

.sinistre1Select{
	width:16.2% !important;
}

#table2CreationSalarieEmployeur1{
	width:60%;
}

#thDescriptionEtatClinique , #tdDescriptionEtatClinique {
	width:100% !important;	
}

.secondBar{
	display:block;
	float:left;
	width:100%;
	margin-top:10px;	
	margin-bottom:10px;
}

.indicationIJ {
	font-style: italic;	
	color : #888888;
}

#thDateDeNaissance , #tdDateDeNaissance{
	width:32.6% !important;	
}
#divChargerSignature{
	height: 20px;
	width: 20px;
	}
.mmTd{
	width: 60px;
}
.spinnerTd{
	margin: -5px;
	
}

#tableAssureur tbody tr:hover {
	cursor: pointer;
	background: #c4c4c4;
}
